@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100:900&display=swap');
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: teal;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 1rem;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  font-family: inherit;
  font-weight: bold;
  color: teal;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &:active {
    transform: scale(0.98);
  }
}
